RewriteEngine On

# Permitir acceso a archivos estáticos
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [S=40]

# Redirigir todo a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]